html, body {
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 0%;
}

svg {
    display:inline-block;
}

canvas {
    border: 1px solid #c3c3c3;
    margin: 0px;
    position: absolute;
}

